[Unit]
Description=nabu Wi-Fi MAC address setup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nabu-pmac-set
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
